
@model Teacher.Models.ATeacher
<h1>@Model.TeacherFirstName @Model.TeacherLastName</h1>
<p>Employee Number: @Model.EmployeeNumber</p>
<p>Hire Date: @Model.HireDate.ToString("yyyy-M-d")</p>
<p>Salary: @Model.Salary.ToString()</p>
